[wordpress]
user = {{web_user}}
group = {{web_group}}

listen = {{php_listen_address}}:{{php_listen_port}}
listen.owner = www-data
listen.group = www-data

pm = ondemand
pm.max_children = 5
;pm.start_servers = 2
;pm.min_spare_servers = 1
;pm.max_spare_servers = 3
pm.process_idle_timeout = 30s;
pm.max_requests = 500
pm.status_path = /status

ping.path = /ping
ping.response = pong
